.header {
    background-color: var(--navy);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}
.navbarLaptop {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-align: center;
}
.navbarLaptop > li {
    margin: 1em;
}
